/* Style sheet */
/* Author: James Stone & Guo Tong Tsen */
/* Description: css style sheet */
/* Date Modified: HELLLLO /01/2026 */

/* Colour pallet
DCEDFF
94B0DA
8F91A2
505A5B
343F3E */

body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #fcfbfb;
    color: #DCEDFF;
    text-align: center;
}

.banner {
    width: 100%;
    height: 85vh;
    background-image: url('worldwide.jpg');
    background-size: 100% auto;
    background-position: center top; 
    background-repeat: no-repeat;
    position: relative;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}

.bannerText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.bannerText h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
}

.bannerText p {
    font-size: 20px;
    margin: 0;
}

.bannerBottomText {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    font-size: 18px;
    font-weight: bold;
}

.banner nav {
    position: relative;
    z-index: 1;
    background-color: rgba(44, 62, 80, 0.8);
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

nav h2 {
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

nav ul li a:hover {
    background-color: lightblue;
}

.bannerButtons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    z-index: 1;
}
.textBordered {
    width: 100%;
    background-color: lightgray;
    border: 2px solid #94B0DA;
    border-radius: 20px;
    padding: 15px 10px;
    color: black;    
    font-size: 16px;
    font-weight: bold;
}
.aside {
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    width: 40%;
    display: inline-block;
    justify-content: space-between;    
    height: 50%;
}


.roundedButton {
    width: 180px;
    background-color: lightgray;
    border: 2px solid #94B0DA;
    border-radius: 20px;
    padding: 15px 32px;
    color: black;
    cursor: pointer;   
    font-size: 16px;
    font-weight: bold;
}

.roundedButton:hover {
    background-color: navajowhite;
}

footer {
    margin-top: 20px;
    color: grey;
}


