/* Style sheet */
/* Author: James Stone & Guo Tong Tsen */
/* Description: css style sheet */
body{
    align-items: center;
    text-align: center;
    flex: auto;
}

.containerBox{
    width: auto;
    text-align: center;
    justify-content: center;
}
.inline3{
    width: 30%;
    height: fit-content;
    display: inline-block;
    text-align: justify;
    align-items: center;    
}
.inline5{
    width: 18%;
    height:fit-content;
    padding-top:10px;
    padding-bottom: 10px;
    display: inline-block;
    text-align: justify;
    align-items: center;
}
.roundedButton{
    width:80%;
    
    background-color: lightgrey;
    border: 5px soild black;    
    border-radius: 20px;
    text-decoration: none;
    padding:15px 32px;
    color:black;
    cursor: pointer;
    margin: 4px 2px;    
}
.roundedButton:hover{
    color:rgb(240, 240, 240);
    background-color: blue;
    /* add hover effects prettify it */
}

/* Graphs CSS */
.btnCheckbox {
    width: 70%;
    height:fit-content;
    text-align: center;
    display: inline-block;
    text-decoration: none;

    padding: 15px 32px;
    border: 5px soild black;
    background-color: lightgrey;    
    border-radius: 20px;
    cursor: pointer;
    margin: 4px 2px;
}

.btnRadio input {
    display: none;
}

.btnRadio:has(input:checked) {
    background: #444;
    color: white;
}

